body,
html,
main {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: FrutigerNeueLT;
  src: url(../fonts/FrutigerNeueLT.ttf) format('ttf'),
    url(../fonts/FrutigerNeueLTLight.ttf) format('ttf'),
    url(../fonts/FrutigerNeueLTMedium.ttf) format('ttf'),
    url(../fonts/FrutigerLTStdRoman.otf) format('otf');
}

.border-green {
  padding: 0.5rem 1.2rem;
  border: 3px solid #71f35f;
  border-radius: 5rem;
}
.link-nossosite {
  color: #33b1e6;
}
.bold-zurich {
  font-weight: bold;
}
.header {
  width: 100%;
  background: #009ee0;
  &--container {
    .row {
      display: flex;
      align-items: center;
    }
    h1 {
      font-size: 2.6rem;
      font-family: 'FrutigerNeueLTLight', sans-serif;
      padding-left: 2rem;
      padding-top: 3rem;
      color: white;
      letter-spacing: 2px;
      line-height: 60px;
      font-weight: 400;
      @media (max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 2.5rem;
      }
    }
    img {
      max-width: 400px;
      margin-left: 70px;
      @media (max-width: 768px) {
        width: 300px;
        margin-left: 25px;
        margin-bottom: 35px;
      }
    }
  }
}
.call {
  width: 100%;
  background: #e8e5e3;
  &--container {
    p {
      padding: 5rem 2rem 2rem 2rem;
      font-family: 'FrutigerLTStdRoman', sans-serif;
      color: #2459a4;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
    }
    h2 {
      padding: 0 2rem 5rem 2rem;
      font-family: 'FrutigerLTStdRoman', sans-serif;
      letter-spacing: 0.1rem;
      line-height: 1.5rem;
      font-weight: bold;
      font-size: 1rem;
      color: #2459a4;
    }
  }
}
.articles {
  width: 100%;
  background: #009ee0;
  padding-bottom: 5rem;
  &--container {
    img {
      max-width: 280px;
      margin-top: 2rem;
    }
    h1,
    p {
      padding: 1rem;
    }
    h1 {
      font-family: 'FrutigerNeueLTMedium', sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 3rem;
      padding: 0 2rem;
      color: #003399;
    }
    p {
      color: white;
      font-weight: 400;
      line-height: 1.5rem;
      padding: 0 2rem 2rem 2rem;
      font-family: 'FrutigerNeueLTMedium', sans-serif;
    }
    nav {
      margin-left: 0.6rem;
      ul a {
        padding: 1rem;
        font-family: 'FrutigerNeueLTMedium', sans-serif;
        text-decoration: none;
        color: #003399;
      }
    }
    &-articleBox1 {
      img {
        margin: 4rem 2rem 1rem 1rem;
      }
    }
    &-articleBox2 {
      img {
        margin: 3rem 2rem -0.5rem 1rem;
      }
    }
    &-articleBox3 {
      img {
        margin: 2rem 2rem -0.5rem 1rem;
      }
    }
  }
}
.footer {
  width: 100%;
  background: #e8e5e3;
  .span--footer {
    margin-left: 20px;
  }
  &--container {
    .row {
      .col:first-child {
        display: flex;
        flex-wrap: wrap;
        h1 {
          padding: 1rem 1rem 0 2rem;
          font-size: 4rem;
          font-family: 'FrutigerNeueLT', sans-serif;
          font-weight: 300;
          line-height: 5rem;
          letter-spacing: 0.15px;
          color: #003399;
          @media (max-width: 768px) {
            font-size: 3.5rem;
          }
        }
        img {
          max-width: 160px;
          height: 145px;
          margin: 4.5rem 1rem 0 1rem;
          @media (max-width: 768px) {
            margin: 6.2rem 1rem 2rem 1.7rem;
            max-width: 100px;
            height: 95px;
          }
          @media (max-width: 500px) {
            margin: 0 1rem 1rem 1.7rem;
            max-width: 100px;
            height: 95px;
          }
          @media (min-width: 992px) and (max-width: 1200px) {
            margin: 0.5rem 1rem 2rem 1.7rem;
          }
        }
        p {
          padding: 0 0 1rem 2rem;
          font-family: 'FrutigerLTStdRoman', sans-serif;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.5rem;
          letter-spacing: -0.14px;
          color: #003399;
        }
        button {
          font-family: 'FrutigerLTStdRoman', sans-serif;
          margin: 0 0 3rem 2rem;
          padding: 1rem 4rem;
          background-color: #003399;
          color: white;
          border: none;
          letter-spacing: 0.1rem;
          cursor: pointer;
          @media (max-width: 1199px) {
            margin: 0 auto;
            margin-bottom: 2rem;
          }
        }
      }
      .col:last-child {
        img {
          max-width: 391px;
          margin-left: 100px;
          @media (max-width: 768px) {
            width: 200px;
            margin-left: 50px;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            position: relative;
            top: 148px;
          }
        }
      }
    }
  }
}
